@font-face{
    src: url(/Fonts/MonoLisa/MonoLisa-Bold.otf);
    font-family: MonoLisa;
    font-weight: bold;
}


.sidenav-trigger{
    top:11px;
    margin-left:15px!important;
}

nav{
    height:70px!important;
}

.sidenav .circle{
    margin-top:20px!important;
    left:0!important;
    padding-left:0!important;
    margin-left:0!important;
    background-color:rgb(127, 127, 131);
}

#rbx-info{
    padding-left: 20px;
}

.subheader{
    position: relative;
    padding-top:100%!important;
}

.sidenav-trigger{
    display:block!important;
}

#code{
    font-family:MonoLisa;
    font-weight:bold;
}


  @media (prefers-color-scheme: dark) {
    body { background:  #23272A; color: white; }
    .sidenav {background: #2C2F33!important; }
    .whiters { color:white!important;}
    li a i, li a{ color:white!important;}
    .subheader {color: #99AAB5!important;}
    #header, #content {color:black!important;}
  }
  
  @media (prefers-color-scheme: light) {
    body { background:  #fff; color: black; }
  }